@using Identity.Models.Profile
@model PageViewModel<IUserViewModel>

@{
    var templateName = Model.Data.GetType()?.Name;
}

@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <main class="row mc-page-fixed">
        <div class="container mc-section-4">
            <h2>@Html.DisplayFor(m => m.Metadata.Title)</h2>
            @Html.ValidationSummary()
            @Html.EditorFor(m => m.Data, templateName)
            <button class="btn waves-effect waves-light" type="submit">@ResHelper.GetString("General.Save")</button>
        </div>
    </main>
}