@using Identity.Models.Account
@model MedioClinic.Models.PageViewModel<ForgotPasswordViewModel>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    Layout = "~/Areas/Identity/Views/Shared/_PasswordLayout.cshtml";
}

<form method="post">
    <div class="container mc-section-4">
        <h1>@Html.DisplayFor(m => m.Metadata.Title)</h1>
        <section class="row section col xl7 l9 m12 s12">
            <div class="card-panel white">
                @Html.ValidationSummary()
                @Html.EditorFor(m => m.Data.EmailViewModel)
                @Html.HiddenFor(m => m.Data.ResetPasswordAction)
                @Html.HiddenFor(m => m.Data.ResetPasswordController)
                <div class="section">
                    <button class="btn waves-effect waves-light" type="submit">@StringLocalizer["Identity.Account.ResetPassword.Title"]</button>
                </div>
            </div>
        </section>
    </div>
</form>