@using Identity.Models.Account
@model MedioClinic.Models.PageViewModel<ResetPasswordViewModel>

@{
    Layout = "~/Areas/Identity/Views/Shared/_IdentityLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container mc-section-4">
        <h2>@Html.DisplayFor(m => m.Metadata.Title)</h2>
        <section class="row section col xl5 l9 m12 s12">
            <div class="card-panel white">
                <a href="@Url.Action("signin", "account")">@ResHelper.GetString("Identity.Account.AlreadyRegistered")</a>
                @Html.ValidationSummary()
                @Html.EditorFor(m => m.Data)
                <div class="section">
                    <button class="btn waves-effect waves-light" type="submit">@ResHelper.GetString("Identity.Account.CreateMyAccount")</button>
                </div>
            </div>
        </section>
    </div>
}
