@using Identity.Models.Account
@using Microsoft.AspNetCore.Authentication
@using MedioClinic.Areas.Identity.Controllers
@model MedioClinic.Models.PageViewModel<SignInViewModel>
@inject Identity.IMedioClinicSignInManager<Identity.Models.MedioClinicUser> SignInManager
@inject Kentico.Content.Web.Mvc.IPageUrlRetriever PageUrlRetriever
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    Layout = "~/Areas/Identity/Views/Shared/_PasswordLayout.cshtml";
    var externalIdentityProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
}

<div class="container mc-section-4">
    <h1>@Html.DisplayFor(m => m.Metadata.Title)</h1>
    <section class="row section col xl7 l9 m12 s12">
        <form method="post">
            <div class="card-panel white">
                <a asp-action="@nameof(AccountController.Register)">@StringLocalizer["Identity.Account.Register.Title"]</a>
                @Html.ValidationSummary()
                @Html.EditorFor(m => m.Data)
                <div class="section">
                    <button class="btn waves-effect waves-light" type="submit">@StringLocalizer["Identity.Account.SignIn.Title"]</button>
                </div>
                <a asp-action="@nameof(AccountController.ForgotPassword)">@StringLocalizer["Identity.Account.ForgotYourPassword"]</a>
            </div>
        </form>
        @{
            if (externalIdentityProviders?.Count > 0)
            {
                var routeData = new Dictionary<string, string>() { 
                    ["returnUrl"] = PageUrlRetriever.Retrieve("/Home")?.AbsoluteUrl
                };

                <form asp-action="@nameof(AccountController.RequestExternalSignIn)" asp-controller="Account" asp-all-route-data="@routeData">
                    <div class="card-panel white">
                        @foreach (AuthenticationScheme provider in externalIdentityProviders)
                        {
                            <button type="submit" class="btn waves-effect waves-light" name="provider" value="@provider.Name" 
                                    title="@StringLocalizer["Identity.Account.SignIn.External.Button.Title", provider.DisplayName]">
                                @provider.Name
                            </button>
                        }
                    </div>
                </form>
            }
        }
    </section>
</div>