@using Identity.Models.Account
@using Microsoft.AspNetCore.Authentication
@using MedioClinic.Areas.Identity.Controllers
@model MedioClinic.Models.PageViewModel<SignInViewModel>
@inject Identity.IMedioClinicSignInManager<Identity.Models.MedioClinicUser> SignInManager
@inject Kentico.Content.Web.Mvc.IPageUrlRetriever PageUrlRetriever

@{
    Layout = "~/Areas/Identity/Views/Shared/_PasswordLayout.cshtml";
    var externalIdentityProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container mc-section-4">
        <h1>@Html.DisplayFor(m => m.Metadata.Title)</h1>
        <section class="row section col xl7 l9 m12 s12">
            <div class="card-panel white">
                <a href="@Url.Action("register")">@ResHelper.GetString("Identity.Account.Register.Title")</a>
                @Html.ValidationSummary()
                @Html.EditorFor(m => m.Data)
                <div class="section">
                    <button class="btn waves-effect waves-light" type="submit">@ResHelper.GetString("Identity.Account.SignIn.Title")</button>
                </div>
                <a href="@Url.Action("forgotpassword")">@ResHelper.GetString("Identity.Account.ForgotYourPassword")</a>
            </div>
            @{
                if (externalIdentityProviders?.Count > 0)
                {
                    @using (Html.BeginForm(nameof(AccountController.RequestExternalSignIn), nameof(AccountController), new { returnUrl = PageUrlRetriever.Retrieve("/Home")?.AbsoluteUrl }))
                    {
                        <div class="card-panel white">
                            @foreach (AuthenticationScheme provider in externalIdentityProviders)
                            {
                                <button type="submit" class="btn waves-effect waves-light" name="provider" value="@provider.Name" title="@ResHelper.GetStringFormat("Identity.Account.SignIn.External.Button.Title", provider.DisplayName)">@provider.Name</button>
                            }
                        </div>
                    }
                }
            }
        </section>
    </div>
}
