@model MedioClinic.Personalization.IsInPersonaViewModel
@inject IStringLocalizer<SharedResource> StringLocalizer

<form asp-controller="IsInPersona" asp-action="Validate">
    @if (Model.AllPersonas?.Count == 0)
    {
        <span>@StringLocalizer["OnlineMarketing.NoPersonas"]</span>
    }
    else
    {
        @for (var i = 0; i < Model.AllPersonas?.Count; i++)
        {
            var persona = Model.AllPersonas[i];
            var checkedLiteral = persona.Selected ? "checked" : String.Empty;
            <p>
                <label for="@Html.IdFor(x => x.AllPersonas[i])" class="line-wrapper">
                    <input id="@Html.IdFor(x => x.AllPersonas[i])"
                           type="radio"
                           name="@Html.NameFor(x => x.PersonaCodeName)"
                           @Html.Raw(checkedLiteral)
                           value="@persona.CodeName">
                    <span>
                        <img src="@persona.ImagePath" alt="@persona.DisplayName" title="@persona.DisplayName" />
                        @persona.DisplayName
                    </span>
                </label>
            </p>
        }
    }
</form>
