@using MedioClinic.Models.ViewComponents.Navigation
@using MedioClinic.Components.ViewComponents
@model Business.Models.NavigationItem
@inject Microsoft.Extensions.Options.IOptions<Common.Configuration.XperienceOptions> Options
@inject Kentico.Content.Web.Mvc.IPageUrlRetriever PageUrlRetriever
@inject XperienceAdapter.Repositories.IMediaFileRepository MediaFileRepository
@inject Business.Repositories.INavigationRepository NavigationRepository

@{
    var logoGuid = new Guid("af277d0c-9a28-4fe3-b673-7f524e185548");
    var logoUrl = (await MediaFileRepository.GetMediaFileAsync(logoGuid))?.MediaFileUrl;
    var outputCacheEnabled = false;
    var cacheDependencyKeys = NavigationRepository.NavigationEnabledTypeDependencies?.ToArray();
}

@functions{
    private string _partialViewPath = $"Components/{nameof(Navigation)}/_TopNavigationContents";
    private string _mainIdStub = "top-navigation";
    private string _cultureIdStub = "culture-switch";
    private string _desktopListClass = "right hide-on-med-and-down";
    private string _mobileListClass = "sidenav";
    private string _desktopSuffix = "desktop";
    private string _mobileSuffix = "mobile";

    private TopNavigationContentsModel GetModel(string suffix, string listClass) => new TopNavigationContentsModel
    {
        MainId = $"{_mainIdStub}-{suffix}",
        CultureSwitchId = $"{_cultureIdStub}-{suffix}",
        ListClass = listClass,
        Navigation = Model,
        DisplaySecondLevel = true
    };
}

<cache expires-sliding="@TimeSpan.FromMinutes(5)" vary-by-culture="true" vary-by-route="@CacheVaryByConstants.ROUTE_URL_SLUG" enabled="@outputCacheEnabled">
    <cache-dependency cache-keys="@cacheDependencyKeys" enabled="@outputCacheEnabled"/>
    <div class="navbar-fixed mc-opacity-95">
        <nav role="navigation">
            <div class="nav-wrapper container">
                <a class="brand-logo" href="@PageUrlRetriever.Retrieve("/Home")?.AbsoluteUrl">
                    <img class="mc-logo" src="@Html.Raw(logoUrl.RelativePath)" alt="@Options.Value.CompanyName" />
                    <span class="mc-logo-text">@Options?.Value?.CompanyName</span>
                </a>
                <a class="sidenav-trigger" href="#" data-target="top-navigation-mobile">
                    <i class="material-icons">menu</i>
                </a>
                <partial name="@_partialViewPath" model="GetModel(_desktopSuffix, _desktopListClass)" />
            </div>
        </nav>
    </div>
    <partial name="@_partialViewPath" model="GetModel(_mobileSuffix, _mobileListClass)" />
</cache>