@using Kentico.Membership.Web.Mvc
@model Identity.Models.Profile.CommonUserViewModel
@inject Microsoft.Extensions.Options.IOptions<Core.Configuration.XperienceOptions> Options
@inject IStringLocalizer<SharedResource> StringLocalizer
@inject XperienceAdapter.Repositories.IMediaFileRepository MediaFileRepository

@{
    var defaultAvatarGuid = Options?.Value.IdentityOptions?.DefaultAvatarGuid;
    IMediaFileUrl defaultAvatarUrl = default;

    if (defaultAvatarGuid.HasValue)
    {
        defaultAvatarUrl = (await MediaFileRepository.GetMediaFileAsync(defaultAvatarGuid.Value))?.MediaFileUrl;
    }
}

<section class="row section col xl6 l6 m6 s12">
    <div class="card-panel white">
        <div class="section">
            <img class="responsive-img" src="@Url.Kentico().AvatarUrl(Model.UserName, pathToDefaultAvatar: defaultAvatarUrl?.RelativePath)" alt="@StringLocalizer["Identity.Profile.AvatarFile"]" />
            @Html.MedioClinicInputFor(m => m.AvatarFile)
        </div>
    </div>
</section>
<section class="row section col xl6 l6 m6 s12">
    <div class="card-panel white">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserName)
        @Html.MedioClinicInputFor(m => m.FirstName)
        @Html.MedioClinicInputFor(m => m.LastName)
        @* TODO: Use the Materialize's datepicker (https://materializecss.com/pickers.html). *@
        @Html.MedioClinicInputFor(m => m.DateOfBirth, additionalViewData: new { @class = "datepicker" })
        @Html.MedioClinicInputFor(m => m.Gender)
        @Html.MedioClinicInputFor(m => m.Nationality)
        @Html.MedioClinicInputFor(m => m.City)
        @Html.MedioClinicInputFor(m => m.Street)
        @Html.EditorFor(m => m.EmailViewModel)
        @Html.MedioClinicInputFor(m => m.Phone)
    </div>
</section>

