@model PageViewModel<Business.Models.Doctor>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    var backdropUrl = Model?.Data?.BackdropPictureUrl?.RelativePath;
}

<main class="row mc-page-fold-left mc-extra-large-and-up" style="background-image:url(@backdropUrl)">
    <div class="container mc-section-3">
        <div class="col xl5 l7">
            <h1>@Html.DisplayFor(m => m.Data.Name), @Html.DisplayFor(m => m.Data.Degree)</h1>
            <section class="section flow-text">@Html.DisplayFor(m => m.Data.Specialty)</section>
            <section class="mc-section-4 flow-text">@Html.Raw(Model?.Data?.Biography)</section>
            <section class="mc-section-4"><strong>@StringLocalizer["General.EmergencyShift"]:</strong> @Html.DisplayFor(m => m.Data.EmergencyShiftString)</section>
        </div>
    </div>
</main>
<div class="row mc-extra-large-and-down">
    <div class="container mc-section-3">
        <div class="card">
            <section class="card-image">
                <img src="@backdropUrl" alt="@Html.DisplayFor(m => m.Data.Name)" />
                <p class="card-title black-text">@Html.DisplayFor(m => m.Data.Name), @Html.DisplayFor(m => m.Data.Degree)</p>
            </section>
            <section class="card-content">
                <p>@Html.DisplayFor(m => m.Data.Specialty)</p>
            </section>
            <section class="card-content">
                <p>@Html.Raw(Model?.Data?.Biography)</p>
            </section>
            <section class="card-action">
                <p><strong>@StringLocalizer["General.EmergencyShift"]:</strong> @Html.DisplayFor(m => m.Data.EmergencyShiftString)</p>
            </section>
        </div>
    </div>
</div>