@using XperienceAdapter.Models
@using Business.Models
@using Kentico.Membership.Web.Mvc
@model PageViewModel<(BasePage DoctorsSection, IEnumerable<Doctor> Doctors)>

<main class="row mc-page-fixed">
    <section class="container row section">
            <h1>@Html.DisplayFor(m => m.Metadata.Title)</h1>
            <div class="mc-flex-container">
                @if (Model?.Data.Doctors?.Any() == true)
                {
                    foreach (var doctor in Model.Data.Doctors)
                    {
                        if (doctor != null)
                        {
                            var pictureUrl = Url.Kentico().AvatarUrl(doctor.UserName);
                            <section class="card mc-flex-item-360px-1rem">
                                <div class="card-image">
                                    <img src="@pictureUrl" alt="@Html.DisplayFor(m => doctor.Name)" />
                                    <span class="card-title black-text">@Html.DisplayFor(m => doctor.Name)</span>
                                </div>
                                <div class="card-content">
                                    <p>@Html.DisplayFor(m => doctor.Specialty)</p>
                                </div>
                                <div class="card-action">
                                    <a href="@Url.Content(doctor.DoctorDetailUrl)">Detail</a>
                                </div>
                            </section>
                        }
                    }
                }
            </div>
    </section>
</main>