@model PageViewModel<MessageWithFeedbackModel>

@{
    <main class="row mc-page-fold-right">
        <section class="container section">
            <h2>
                @Html.DisplayFor(m => m.Metadata.Title)
            </h2>
            <p>
                @Html.DisplayFor(m => m.UserMessage.Message)
            </p>
        </section>
        <section class="container section">
            <h4>
                @Html.DisplayFor(m => m.Data.FormTitle)
            </h4>
            <standalone-widget widget-type-identifier="@SystemComponentIdentifiers.FORM_WIDGET_IDENTIFIER" widget-properties="@Model.Data.FormWidgetProperties" />
        </section>
    </main>
}